tl_2017_us_zcta510/ filter=lfs diff=lfs merge=lfs -text
zipcodes/tl_2017_us_zcta510.shx filter=lfs diff=lfs merge=lfs -text
zipcodes/zipcodes.py filter=lfs diff=lfs merge=lfs -text
zipcodes/tl_2017_us_zcta510.cpg filter=lfs diff=lfs merge=lfs -text
zipcodes/tl_2017_us_zcta510.dbf filter=lfs diff=lfs merge=lfs -text
zipcodes/tl_2017_us_zcta510.prj filter=lfs diff=lfs merge=lfs -text
zipcodes/tl_2017_us_zcta510.shp.iso.xml filter=lfs diff=lfs merge=lfs -text
zipcodes/tl_2017_us_zcta510.shp filter=lfs diff=lfs merge=lfs -text
zipcodes/tl_2017_us_zcta510.shp.ea.iso.xml filter=lfs diff=lfs merge=lfs -text
zipcodes/tl_2017_us_zcta510.shp.xml filter=lfs diff=lfs merge=lfs -text
